################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DermaSoft/Wireframes/DermaSoft_Wireframes.html
